   /* Global */
   *{
    margin: 0;
    padding: 0;
}
    a{
        color: #0969da;
    }
    /* a:visited{
        color: purple;
    } */
    .refcontent a:visited{
        color: purple;
    }
    .tablecontainer a:visited{
        color: purple;
    }
    .boxbk2 a:visited{
        color: purple;
    }

/* Header */
.headbar{
    background-color: white;
    height:1vw;
    width:100%;
    position:fixed;
}
header{
    background:white;
    position:fixed;
    width:100%;
    color:#ffffff;
    /* padding-top:1%; */
    min-height:10vh;
    /* border-bottom:#EC5E87 6px solid; */
    z-index: 3;
    align-items: center;
}

/* navbar */
.navbar{
    background-color: #fff;
    display: flex;
    overflow: hidden;
    font-family: 'Segoe UI';
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 90%;
    height: 11.6vh;
}

/* Links inside the navbar */
.titlebox{
    display: flex;
    justify-content: center;
    width: 16%;
    height: 100%;
    text-decoration: none;
    border-right: 0.01vw solid black;
    align-items: center;
    color: #20497f;
    font-size: 1.2vw;
}

.titlebox a {
    font-size: inherit;
    text-align: center;
    text-decoration: none;
    color: inherit;
}
.titlebox:hover {
    /* background-color: lightblue; */
    font-size: 1.3vw ;
    font-weight: bold;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: white;
    color: #EC5E87;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* header graph */
.btn-gra{
    width: 1.3vw;
}
.logo{
    width: 10vw;
}

/* body */
body{
    background-color: white;
}
.boxbk{
    position: absolute;
    right: 8vw;
    top: 9vw;
    width: 64vw;
    /* background-color: rgba(0, 0, 0, 0.7); */
    /* color: white; */
    color: black;
    z-index: 1;
    display: inline-block;
    font-family: 'Segoe UI';
    text-align: justify;
    padding: 2vw 0 0 2vw;
    /* border-left: #82aede 0.2vw solid; */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

/* intro */
.introbox{
    position: absolute;
    right: 8vw;
    top: 9vw;
    width: 64vw;
    /* background-color: rgba(0, 0, 0, 0.7); */
    /* color: white; */
    color: black;
    z-index: 1;
    display: flex;
    font-family: 'Segoe UI';
    text-align: justify;
    padding: 0 0 0 0;
    /* border-left: #82aede 0.1vw solid; */
    /* border-right: #82aede 0.1vw solid; */
    overflow: hidden;
    flex-direction: column;
    font-size: 1vw;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
.squarecontainer{
    display: flex;
    flex-direction: row;
}

.square {
    flex: 1;
    /* height: 32vw; */
    /* background-color: #ccc; */
    border-bottom: #466d97 0.1vw solid;
    /* justify-content: center; 
    align-items: center;  */
    /* display: flex;s */
}
.smbox{
    justify-content: center; 
    align-items: center; 
    display:flex;
    height:32vw;
}
.afbox{
    display:flex;
    /* height:32vw; */
}
.method{
    margin: 3vw 3vw 3vw 3vw;
    width: 26vw;
}
img {
    max-width: 100%; /* 图片最大宽度为父容器宽度 */
    /* max-height: 100%;  */
    display: block; /* 防止图片底部留白 */
}
.introtitle{
    padding: 0 3vw 0 3vw;
}
.introfinalbox{
    background-color: #82aede;
    width: 100%;
    border-bottom: #466d97 0.1vw solid;
    border-right: #466d97 0.1vw solid;
}
.refbox{
    margin: 3vw 7vw 3vw 7vw;
    width : 50vw;
    border: #466d97 0.1vw solid;
    background-color: #fff;
}
.refcontent{
    margin: 3vw 2vw 3vw 2vw;
}
.reftitle{
    display: flex;
    justify-content: center;
    padding: 0 0 2vw 0;
}
.hrcss{
    border: 0.1vw solid #466d97;
     margin: 1vw 0 0 0 ;
}
.intronew1{
    /* background-color: #82aede; */
    width: 100%;
    /* border-bottom: #466d97 0.1vw solid; */
    /* border-right: #466d97 0.1vw solid; */
    border-bottom: #466d97 0.1vw solid;
}
.intronew1inner{
    text-align: left;
    padding: 3vw 5vw 3vw 5vw;
    font-size: 1.2vw;
}
.introhic{
    width: 100%;
}
.hichip{
    padding: 3vw 5vw 3vw 5vw;
    font-size: 1.2vw;
    /* border-bottom: #466d97 0.1vw solid; */
}
.custom-list {
    list-style-type: none; 
    /* padding-left: 1vw; */
}
.custom-list li {
    position: relative;
    /* padding-left: 1vw; 为::before伪元素腾出空间 */
    /* margin-bottom: 10px; */
}

.custom-list li::before {
    content: '•'; 
    font-size: 2vw;
    color:  #466d97; 
}

/* about */
.abbox{
    position: absolute;
    right: 12vw;
    top: 9vw;
    width: 74vw;
    /* background-color: rgba(0, 0, 0, 0.7); */
    /* color: white; */
    color: black;
    z-index: 1;
    display: flex;
    font-family: 'Segoe UI';
    text-align: justify;
    padding: 0 0 0 0;
    /* border-left: #82aede 0.2vw solid;
    border-right: #82aede 0.2vw solid; */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    overflow: hidden;
    flex-direction: column;
    font-size: 1vw;
}
.squarecontainer{
    display: flex;
    flex-direction: row;
}

.square {
    flex: 1;
    /* height: 32vw; */
    /* background-color: #ccc; */
    /* border-bottom: #20497f 0.1vw solid; */
    /* justify-content: center; 
    align-items: center;  */
    /* display: flex;s */
}
.smboxab{
    justify-content: center; 
    align-items: center; 
    display:flex;
    height:37vw;
    /* border-bottom: black 0.1vw solid; */
}
.afbox{
    display:flex;
    /* height:32vw; */
}
.method{
    margin: 3vw 3vw 3vw 3vw;
    width: 26vw;
}
img {
    max-width: 100%; /* 图片最大宽度为父容器宽度 */
    /* max-height: 100%;  */
    display: block; /* 防止图片底部留白 */
}
.introtitle{
    padding: 0 3vw 0 3vw;
}
.abmidbox{
    /* background-color: #f5f5f7; */
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
    width: 100%;
    border-bottom: #466d97 0.1vw solid;
    /* border-right: black 0.1vw solid; */
}
.abintro{
    padding: 0 5vw 3vw 5vw;
    text-align: left;
    font-size: 1.2vw;
}

.refcontent{
    margin: 3vw 2vw 3vw 2vw;
}
.reftitle{
    display: flex;
    justify-content: center;
    padding: 0 0 2vw 0;
}
.hrcss{
    border: 0.1vw solid #466d97;
     margin: 1vw 0 0 0 ;
}


/* GSM page */
.gsm{
    background-color: #f0f8ff;
    color: black;
    margin: 0 2vw 2vw 0 ;
    padding: 2vw 0 2vw 2vw;
    line-height: 3vw;
    font-size: 1.3vw;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
.other{
    background-color: #f0f8ff;
    color: black;
    margin: 0 2vw 2vw 0 ;
    padding: 2vw 0 2vw 2vw;
    line-height: 3vw;
    font-size: 1.3vw;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
.more{
    color: black;
    margin: 0 2vw 2vw 0 ;
    padding: 2vw 0 2vw 2vw;
    line-height: 3vw;
    font-size: 1.3vw;
}

/* tutorial */
.tt{
    /* background-color: #d2d2d6; */
    color: black;
    margin: 0 2vw 2vw 0 ;
    padding: 2vw 2vw 2vw 2vw;
    line-height: 3vw;
    font-size: 1.3vw;
    border: 0.1vw dashed gray;
    white-space: normal;
}

/* download */
.boxbk2{
    position: absolute;
    right:12vw;
    top: 9vw;
    width: 74vw;
    /* background-color: rgba(0, 0, 0, 0.7); */
    /* color: white; */
    color: black;
    z-index: 1;
    display: inline-block;
    font-family: 'Segoe UI';
    text-align: justify;
    padding: 2vw 0 2vw 2vw;
    /* border-left: #82aede 0.2vw solid;
    border-bottom: #82aede 0.2vw solid; */
    font-size: 1vw;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
.boxbk2 a{
    display: inline-block;
}

/* sidebar */
#sidebar {
    position: fixed;
    top: 16vw;
    left: 7vw;
    width: 16vw;
    height: 12.5vw;
    background-color: white;
    z-index: 1000;
    /* opacity: 0.7; */
    /* transition: left 0.3s ease;  过渡 */
    /* border: black 0.1vw solid; */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}


.sidebar-link {
    position: relative;
    padding: 1.2vw 0 1.2vw 0;
    /* left: 3vw; */
    display: block;
    text-decoration: none;
    color: #466d97;
    text-align: center;
    width: 100%;
    opacity: 1;
    z-index: 1001;
    font-size: 1.3vw;
    border-bottom: black 0.1vw solid;
}

.sidebar-link:hover {
    background-color: #82aede;
    font-weight: bold;
    color: white;
}

/* search */
    /* search big box */
    .searchbgbox{
        position: absolute;
        right: 12vw;
        top: 9vw;
        width: 74vw;
        color: black;
        z-index: 1;
        font-family: 'Segoe UI';
        text-align: center;
        justify-content: center; 
        padding: 0 0 0 0;
        /* border-left: #82aede 0.2vw solid;
        border-right: #82aede 0.2vw solid; */
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
        overflow: hidden;
        font-size: 1vw;
        /* background-color: pink; */
        height: 120vw;
    }

    /* select search */
    .search {
        position: relative;
        top: 7vw;
        width: 74vw;
        display: flex;
        justify-content: center; /* 将内容放置在页面中央 */
        text-align: justify;
        align-items: flex-start; /* 上下对齐 */
        flex-wrap: wrap; /* 自动换行 */
        line-height: 1vw;
        font-size: 1.2vw;
        height: 13vw;
    }
    button{
        font-size: 1.1vw;
    }

    .ser {
        width: 17vw; 
        margin: 1vw 2vw 1vw 2vw;
    }

    .serbtn {
        width: 100%;
        overflow-x: auto; /* 让内容过长时可以左右滑动 */
        white-space: nowrap;
        /* text-overflow: ellipsis; */
    }

    .ser-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
    }

    .ser-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        z-index: 1001;
    }

    .ser-content a.selected {
        background-color: #659bd6; /* Change color when selected */
    }

    .ser-content a:hover:not(.selected) {
        background-color: #a1c3e4; /* Change hover color */
    }

    .ser:hover .serbtn {
        background-color: #ccc;
    }

    .ser .done-btn {
        position: relative;
        top: 0;
        width: 100%;
        background-color: #82aede;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .done-btn-container {
        position: relative;
        top: 0;
        width: 100%;
        background-color: #f9f9f9;
        box-shadow: 0px -2px 8px 0px rgba(0,0,0,0.2);
        z-index: 2;
        text-align: center;
    }

    .serr-content{
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        width: 17vw;
        max-height: 10vw; /* 设置下拉框的最大高度，超出部分可滚动 */
        overflow-y: auto; /* 添加垂直滚动条 */
        z-index: 100;
    }   

    .button-container {
        display: flex;
        justify-content: center; /* 将按钮放置在页面中央 */
    }

    .search-btn,
    .clear-btn {
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 10px; /* 按钮间隔 */
    }

    .search-btn {
        background-color: #20497f;
        color: white;
    }

    .search-btn:hover{
        background-color: #82aede;
    }

    .clear-btn {
        background-color: #f44336;
        color: white;
    }

    .clear-btn:hover {
        background-color: lightcoral;
    }
    .searchtitle{
        display: inline-block;
        padding-bottom: 1vw ;
    }
    .buttons{
        position: relative;
        top:10vw;
        width:14vw;
        margin-left: 30.5vw;
        z-index: 0;
    }

    /* type search */
    .typecontainer {
        position: relative;
        top: 4vw;
        width: 74vw;
        text-align: center;
        align-items: center;
        /* background-color: greenyellow; */
        border-bottom: #466d97 0.1vw solid;
        border-top: #466d97 0.1vw solid;
    }

    input[type="text"] {
        width: 24vw;
        margin: 2vw 1vw 2vw 1vw;
        border: 0.1vw solid #ccc;
        border-radius: 0.2vw;
        box-sizing: border-box;
        font-size: 1vw;
        height: 2vw;
    }

    input[type="text"]::placeholder {
        color: #999;
    }

    .typebutton {
        padding: 10px 20px;
        background-color: #20497f;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .typebutton:hover {
        background-color: #82aede;
    }


    /* search figure */
    .figcontainer{
        position: relative;
        top: 15vw;
        display: flex;
        justify-content: center; /* 水平居中 */
        align-items: center; /* 垂直居中 */
        width: 100%;
    }

    /* table */
    .anothercontainer{
        display: flex;
        justify-content: center; /* 水平居中 */
        align-items: center; /* 垂直居中 */
        width: 74vw;
        position: relative; 
        top: 19vw;
    }
    .tablecontainer{
        /* width: 60vw; */
        height: 20vw;
        overflow: auto;
    }
    table {
       width: 59vw;
       white-space: normal;
       border-collapse: collapse;
       text-align: center;
       margin: 1vw;
       background-color: #f3f3f3;
     }
    th, td {
       border: 1px solid #859fcf;
       border-bottom: 1px solid white;
       padding: 1vw;
       }
    .first-row{
        background-color: #abbcde;
    }
    .first-col{
        background-color: #e1e8f4;
    }


/* home */
.start{
    position: absolute;
    top: 9vw;
    left: 11vw;
    width: 41vw;
    height: 30vw;
    /* background-color: pink; */
    text-align: center;
}
.tmmap{
    display: block;
    font-size: 6vw;
    font-family: "Segoe UI";
    font-weight: bold;
    margin: 2vw 1vw 1vw 1vw;
    color: #618bb8;
}
.santence{
    font-size: 2.1vw;
    text-align: left;
    width: 41vw;
    margin: 3vw 1vw 1vw 1vw;
}
.genepic{
    position: absolute;
    top: 9vw;
    right: 15vw;
    width: 26vw;
}
.trycolor{
    background: linear-gradient(to right, #63a6d7,#b8d9ed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.homebox{
    position: absolute;
    top: 31vw;
    width: 100%;
    height: 15vw;
    /* background-color: pink; */
    text-align: center;
}
.graphtitle{
    font-size: 2.9vw;
    font-weight: bold;
    margin: 6vw 1vw 1vw 1vw;
}
.graphep{
    font-size: 1.3vw;
}
.trycolor2{
    background: linear-gradient(to right, #7db7de,#a6cfe9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.homepic{
    position: absolute;
    top: 50vw;
    right: 21vw;
    /* width: 55vw; */
}

/* statistic */
.statiscontainer {
    background-color: #f0f8ff;
    color: black;
    margin: 0 2vw 2vw 0 ;
    padding: 2vw 0 2vw 2vw;
    line-height: 3vw;
    font-size: 1.3vw;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
.statisgracontainer {
    background-color: #f0f8ff;
    color: black;
    /* margin: 0 2vw 0 2vw; */
    /* padding: 2vw 0 2vw 5vw; */
    line-height: 3vw;
    font-size: 1.3vw;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    flex-direction: column;
    width: 72vw;
}
.grast{
    display: block;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
/* all */
.blue{
    background-color: #f0f8ff;
}
.white{
    background-color: white;
}
.darkblue{
    color: #466d97;
}

/* end */
.endbox{
    width: 100%;
    position: absolute;
    /* top:100vw ; */
    background-color: white;
    height: 11vw;
    display: flex;
}
.endtext {
    flex: 1;
    /* padding: 2vw; */
}
.endtextinner{
    padding:0 1vw 1vw 3vw ;
    margin: 1.5vw 0vw 0vw 9vw;
    font-size: 1vw;
    /* border-right: black 0.1vw solid; */
}
.endimage {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
